<app-nav></app-nav>


<!--HERO-->
<section class="uk-section uk-section-large uk-section-secondary" style="background-size: cover; background-image: url(https://unsplash.it/1920/1080/?random=5);">
</section>
<!--/HERO-->







<section class="uk-section uk-article">
    <div class="uk-container uk-container-small">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">{{ data.article.title }}</h2>
        <p class="uk-article-meta">Written on 12 April 2012.</p>
        
        <p class="uk-text-lead"></p>
        
        
    </div>
    
    
     <!-- text -->
     <div class="uk-container uk-container-small">
      {{ data.article.content }}
    </div>
    <!-- text -->
    
    
</section>