<!--HEADER-->
<header>
  <div class="uk-container">
      <nav class="uk-navbar-transparent" data-uk-navbar>
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                  <li>
                      <a href="#">
                          <div> 
                              <h2 class="custom-navheader">Modellbauclub</h2>
                              <div class="uk-navbar-subtitle">Clasuthal-Zellerfeld</div>
                          </div>
                      </a>
                  </li>
                  </ul>
          </div>
          <div class="uk-navbar-right uk-visible@m">
              <ul class="uk-navbar-nav">
                  <li class="uk-active"><a href="#">Albums</a></li>
                  <li>
                      <a href="#">Collections <span data-uk-icon="icon: triangle-down"></span></a>
                      <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li><a href="#">Landscape</a></li>
                              <li><a href="#">Nature</a></li>
                              <li><a href="#">Social</a></li>
                              <li><a href="#">Urban</a></li>
                              <li><a href="#">Music</a></li>
                          </ul>
                      </div>
                  </li>
                  <li><a href="#">Most Viewed</a></li>
              </ul>
          </div>
      </nav>
  </div>
</header>
<!--/HEADER-->